body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 5%;
    background-color: #222;
    align-items: center;
}

#logo-container h2 {
    font-size: 24px;
}

#search-icon {
    font-size: 24px;
    cursor: pointer;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
    background-color: #222;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.category {
    padding: 20px 5%;
}

.category h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.movie-posters .movie {
    position: relative;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}

.movie-posters .movie-video {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s;
    object-fit: cover;
}

.movie-posters .movie:hover .movie-video {
    transform: scale(1.05);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    padding: 10px 0;
    flex-wrap: wrap;
}

button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    nav a {
        padding: 5px;
        margin: 2px 5px;
    }

    footer button {
        margin: 5px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    footer button {
        margin: 5px 0;
    }
}
